{{!--
Simple card for linking to posts
--}}

<div class="gh-card">
    {{#if feature_image}}
    <img src="{{img_url feature_image size="m"}}" alt="{{title}}" class="gh-card-image">
    {{else}}
    <div class="gh-card-image-placeholder"></div>
    {{/if}}

    <div>
        <a href="{{url}}">{{title}}</a>
        {{#if excerpt}}
        <span> - {{excerpt}}</span>
        {{/if}}
    </div>
    <div class="gh-card-date">
        <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time>
    </div>
</div>
