<!DOCTYPE html>
<html lang="{{@site.locale}}">

<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{> fonts}}

    <link rel="stylesheet" href="{{asset " built/index.css"}}" />
    <script src="{{asset " built/index.js"}}" defer></script>

    <title>{{meta_title}}</title>

    {{ghost_head}}

</head>

<body class="{{body_class}}">
    <div class="gh-viewport">

        <header id="gh-head" class="gh-head">
            <div class="gh-head-inner gh-container">
                {{!-- Search moved to sidebar on desktop, shown here on mobile --}}
                <div class="gh-head-search gh-head-search-mobile">
                    {{search}}
                </div>
            </div>
        </header>

        <main class="gh-main">
            <div class="gh-page">
                <div class="gh-container">
                    <div class="gh-layout">
                        {{> "sidebar"}}

                        <div class="gh-main-content">
                            {{{body}}}
                        </div>
                    </div>
                </div>
            </div>
        </main>

        {{!-- {{> footer}} --}}

    </div>

    {{ghost_foot}}

</body>

</html>