{{!< default}}

{{#post}}

<div class="gh-layout">
    {{> "sidebar"}}

    <article class="gh-article {{post_class}}">

    <header class="gh-header gh-canvas">
        <h1 class="gh-title">{{title}}</h1>

        {{#if custom_excerpt}}
        <p class="gh-excerpt">{{custom_excerpt}}</p>
        {{/if}}

        <div class="gh-post-meta">
            <time datetime="{{date format="YYYY-MM-DD"}}">{{date format="YYYY-MM-DD"}}</time>
            {{#has tag=""}}
                <span class="gh-post-meta-separator"> | </span>
                <span class="gh-post-meta-tags gh-post-meta-content-types">
                {{#foreach tags}}
                    {{#match name "~^content-type-"}}
                        <a href="{{url}}" class="gh-post-meta-tag">{{replace name "content-type-" ""}}</a>
                    {{/match}}
                {{/foreach}}
                </span>
                <span class="gh-post-meta-separator"> | </span>
                <span class="gh-post-meta-tags gh-post-meta-regular-tags">
                {{#foreach tags}}
                    {{#match name "!~^content-type-"}}
                        <a href="{{url}}" class="gh-post-meta-tag">{{name}}</a>
                    {{/match}}
                {{/foreach}}
                </span>
            {{/has}}
        </div>
    </header>

    <div class="gh-content gh-canvas">
        {{content}}
    </div>

    <footer class="gh-footer gh-canvas">

        {{#if comments}}
        <section class="gh-post-comments">
            {{comments}}
        </section>
        {{/if}}

    </footer>

</article>

<aside class="gh-readmore">
    <div class="gh-readmore-inner gh-container">
        <div class="gh-readmore-next">
            {{#next_post}}<a href="{{url}}">{{> "icons/arrow-left"}} <h4>{{title}}</h4></a>{{/next_post}}
        </div>
        <div class="gh-readmore-prev">
            {{#prev_post}}<a href="{{url}}">
                <h4>{{title}}</h4> {{> "icons/arrow-right"}}
            </a>{{/prev_post}}
        </div>
    </div>
</aside>

</div>

{{/post}}
